streamlit==1.45.1
librosa==0.10.1
tensorflow==2.12.0
tensorflow_hub==0.16.1
openl3
numpy==1.23.5
pandas==1.5.3
matplotlib==3.7.1
scikit-learn==1.2.2
scikit-image==0.19.3
textblob==0.17.1
soundfile==0.12.1
ffmpeg-python==0.2.0
Cython==0.29.36
scipy==1.11.4
